/* TypoPRO Bebas Neue Regular */
@font-face {
    font-family:  'Bebas Neue';
    src:          local('*'),
    url("../../static/bebas/TTF's/BebasNeue Bold.ttf") format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

$body-font-family := 'Bebas Neue', sans-serif;
$font-size-root := 18px;

@import '~vuetify/src/stylus/main';
@import '~vuetify/src/stylus/app';

